<!doctype html>
<html ng-app="op">
<!--
           . uW8"                                                                  < .z@8"`      
           `t888                     ..    .     :       x.    .        u.    u.    !@88E        
     .u     8888   .        .u     .888: x888  x888.   .@88k  z88u    x@88k u@88c.  '888E   u    
  ud8888.   9888.z88N    ud8888.  ~`8888~'888X`?888f` ~"8888 ^8888   ^"8888""8888"   888E u@8NL  
:888'8888.  9888  888E :888'8888.   X888  888X '888>    8888  888R     8888  888R    888E`"88*"  
d888 '88%"  9888  888E d888 '88%"   X888  888X '888>    8888  888R     8888  888R    888E .dN.   
8888.+"     9888  888E 8888.+"      X888  888X '888>    8888  888R     8888  888R    888E~8888   
8888L       9888  888E 8888L        X888  888X '888>    8888 ,888B .   8888  888R    888E '888&  
'8888c. .+ .8888  888" '8888c. .+  "*88%""*88" '888!`  "8888Y 8888"   "*88*" 8888"   888E  9888. 
 "88888%    `%888*%"    "88888%      `~    "    `"`     `Y"   'YP       ""   'Y"   '"888*" 4888" 
   "YP'        "`         "YP'                                                        ""    ""   
-->
<head>
	<base href="/">

	<title>OPEX - Chess Openings Explorer</title>

	<meta name="description" content="Chess openings explorer, the modern way.">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- facebook bs -->
	<meta property="og:title" content="OPEX - Chess Openings Explorer"/>
	<meta property="og:url" content="http://opex.ebemunk.com/"/>
	<meta property="og:image" content="http://opex.ebemunk.com/img/chesspieces/wikipedia/bN.png"/>
	<meta property="og:description" content="Chess openings explorer, the modern way."/>
	<!-- /facebook bs -->

	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">

	<link rel="stylesheet" href="build/op.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-animate.min.js"></script>

	<script src="build/op.js"></script>
</head>

<body ng-controller="boardCtrl">

<div class="navbar navbar-default navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand">Chess Openings Explorer</a>
		</div>
		<div class="navbar-right">
			<ul class="nav navbar-nav sharers">
				<li>
					<a href="#" class="fb"
						popup="http://www.facebook.com/sharer/sharer.php?u=opex.ebemunk.com&t=Chess Openings Explorer"
						piwik-event="Social Share,Facebook">
						<span class="fa fa-facebook"></span>
					</a>
				</li>
				<li>
					<a href="#" class="tw"
						popup="http://twitter.com/home?status=Chess openings explorer, the modern way: http://opex.ebemunk.com"
						piwik-event="Social Share,Twitter">
						<span class="fa fa-twitter"></span>
					</a>
				</li>
				<li>
					<a href="#" class="gp"
						popup="https://plus.google.com/share?url=http://opex.ebemunk.com"
						piwik-event="Social Share,Google Plus">
						<span class="fa fa-google-plus"></span>
					</a>
				</li>
				<li>
					<a href="http://github.com/ebemunk/opex" class="gh" target="_blank"><span class="fa fa-github"></span></a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div id="boardwrap" class="col-sm-7">
			<div id="board"></div>
			<div class="boardbtns">
				<button ng-click="Logic.reset()" class="btn btn-primary"><span class="fa fa-step-backward"></span> Reset</button>
				<button ng-click="Logic.undo()" class="btn btn-primary"><span class="fa fa-backward"></span> Back</button>
				<button ng-click="Logic.flipBoard()" class="btn btn-primary"><span class="fa fa-refresh"></span> Flip</button>
			</div>
		</div>

		<div id="listwrap" class="col-sm-5">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">{{ Logic.last_opening.eco }} - {{ Logic.last_opening.name }}</h3>
						</div>
						<div class="panel-body">
							<div class="input-group fen-selector" select-on-click>
								<span class="input-group-addon">FEN</span>
								<input type="text" value="{{ Logic.fen() }}" readonly="readonly" class="feninput">
							</div>
						</div>
						<ul class="list-group">
							<li class="list-group-item move-row"
								ng-click="Logic.reset()"
								ng-hide="Logic.last_opening.eco == 'A00'">
									<span class="fa fa-step-backward"></span> Reset
							</li>
							<li class="list-group-item move-row"
								ng-click="Logic.undo()"
								ng-hide="Logic.last_opening.eco == 'A00'">
									<span class="fa fa-backward"></span> Back
							</li>
							<li class="list-group-item move-row"
								ng-repeat="(move, tree) in Logic.opening(true)"
								ng-click="Logic.move(move)"
								data-move="{{move.replace('+', '')}}"
								ng-hide="move == 'name' || move == 'eco'"
								piece-highlight="{{move}}">
									<strong>{{move}}</strong> - {{ tree.name || 'continuation' }}
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Notation</h3>
						</div>
						<div class="panel-body">{{ Logic.pgn() || 'No Moves' }}</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Info</h3>
						</div>
						<ul class="list-group">
							<li class="list-group-item">
								<a href="http://chess-db.com/public/explorer.jsp?interactive=true&fen={{Logic.fen()}}" target="_blank">This opening on Chess-DB</a>
							</li>
							<li class="list-group-item">
								<a href="http://www.365chess.com/eco/{{Logic.last_opening.eco}}" target="_blank">This opening on 365Chess</a>
							</li>
							<li class="list-group-item">
								<a href="https://github.com/ebemunk/opex" target="_blank">Source Code on Github</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<piwik js-url="http://logs.ebemunk.com/piwik.js" php-url="http://logs.ebemunk.com/piwik.php" site-id="5"></piwik>

</body>
</html>